$dropdown-width: 250px;
$dropdown-height: 55px;

.portals {

  &_1, &_2 {
    section {
      overflow: hidden;
      box-shadow: inset 0px -2px 12px 0px rgba(188, 188, 188, 0.51);
    }
  };

  .dn {
    margin-left: 8px;
    font-size: 9px;
  }

  .alert-wrapper {
    pointer-events: none;
  }
}

.alert {
  border: 2px solid #ffba00;
  position: absolute;
  left: 30%;
  top: 50%;
  margin: 0 auto;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: $dropdown-width;
  z-index: 10;

  h4 {
    display: inline;
    font-weight: 800;
  }
}